/* Base (mobile first) */

/* ===== Tablets ===== */
@media (max-width: 768px) {
section{
    height: 50vh;
}
  header{
    width: 100%;
  }
  header .container{
    width: 80%;

    .logo{
        font-size: 12px;
    }
    .navbar li a{
        font-size: 12px;
    }
    .redes-sociais i{
        font-size: 14px;
    }
  }
  .hero-section{
    width: 100%;
  }
  .image-text{
    height: fit-content;
    background-color: red;
    .images{
        flex-direction: column-reverse;
        margin: 0;
        .smalls{
            flex-direction: row;
        }
    }
  }
  .views-section{
    width: 100%;
    .view{
        width: 30%;
        height: 100%;
    }
  }
} 

/* ===== Desktop ===== */
@media (min-width: 1024px) {

}

/* ===== Desktop grande ===== */
@media (min-width: 1440px) {

}