*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Italiana', sans-serif;
    transition: .5s;
}
:root {
    --sans-serif1: 'Italiana', sans-serif;
    --sans-serif2: 'MONTSERRAT', sans-serif;
    --sans-serif3: 'MONTDEMO', sans-serif;
    --sans-serif2: 'MONTSERRAT', sans-serif;
    --dark-brown:#856654;
    --light-brown:#D5B584;
    --muted-dig:#D0BDAC;
    --off-white:#E9E2DC;

    --bg:#0f1720;       /* fundo escuro */
  --muted:#9aa6b2;    /* texto secundário */
  --accent:#d6b47a;   /* dourado/acentuação */
  --white:#fff;
  --dark-white:#F7F7F7;
  --max-width:1100px;
  --gap:20px;
  --radius:10px;
  --shadow1:0 0px 28px -10px rgba(0, 0, 0, 0.53);
}html {
  scroll-behavior: smooth;
}
body{
    width: 100%;
    overflow-x: hidden;
    background-color: var(--white);
}
.fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacebetween{
    justify-content: space-between;
}
section{
    height: min-content;
    width: 70%;
    padding: 50px;
    margin: auto;
    overflow: hidden;
}
.top-center{
    align-items: flex-start;
    justify-content: center;
}

.g-button{
    padding: 15px 50px;
    border: none;
    border-radius: 7px;
    a{
        font-size: 18px;
        text-decoration: none;
        color: black;
    }
}
.ft-fam1{
    font-family: 'italiana', sans-serif;
}
.ft-fam2{
    font-family: 'Montserrat', sans-serif;
}
.filled-btn{
    background-color: var(--light-brown);
}
.border-btn{
    border: 1px solid white;
    background:none;
}
.resp-menu{
    background-color: white;
    width: 40px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    .line{
        width: 25px;
        height: 2px;
        margin: 3px 0px;
        background-color:var(--dark-brown);
    }
}
.hide{
    display: none;
}
.show{
    display: block;
}