/* Base (mobile first) */

/* ===== Tablets ===== */
@media (max-width: 768px) {
  section{
      height: 50vh;
  }
  header{
    width: 100%;
  }
  header .container{
    width: 100%;
    .logo{
        font-size: 14px;
    }
    .navbar li a{
        font-size: 12px;
    }
    .redes-sociais i{
        font-size: 14px;
    }
  }
  header .container .navbar{
    display: none;
  }
  .hero-section{
    width: 100%;
  }
  .image-text{
    flex-direction: column;
    height: fit-content;
    .images{
      margin: 0;
      flex-direction: column-reverse;
      align-items: center;
      margin: 0;
      .smalls{
        margin: 0;
        width: 100%;
        flex-direction: row;
          justify-content: space-between;
          height: max-content;
          align-items: center;
          .img-box{
          }
        }
        .big{
          margin: 0;
          width: 300px;
          overflow: hidden;
          background-color: red;
          .img-box{
            img{

            }
          }
        }
        
      }
  }
  .image-text .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .price{
      text-align: center;
      width: 100%;
    }

  }
  .views-section{
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
    .view{
      margin-bottom: 20px;
    }
  }
} 

/* ===== Desktop ===== */
@media (min-width: 1024px) {

}

/* ===== Desktop grande ===== */
@media (min-width: 1440px) {

}