/* Base (mobile first) */
@media (max-width: 480px) {
  body{
    overflow-x: hidden;
  }
  header{
    width: 100%;
  }
  header .container{
    .navbar{
      z-index: 10;
      position: absolute;
      top: 75px;
      scale: 1;
      right: 0;
      background-color: white;
      padding: 20px 0px;
      flex-direction: column;
      border-bottom-left-radius: 0px;
      li{
        padding: 20px;
      }
      li:active{
        background-color: var(--light-brown);
        a{
          color:white;
        }
      }
    }
    .navbar.hide{
      opacity: 0;
    }
    .resp-menu{
      display: flex;
      width: 40px;
      height: 35px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 7px;

    }
    .resp-menu .line{
        width: 25px;
        height: 2px;
        margin: 3px 0px;
        background-color:var(--dark-brown);
    }
    
  }
  .image-text{
    flex-direction: column;
    .imaging{
      flex-direction: column;
      .smalls{
        padding: 0;

        margin: auto;
        width: 100%;
        height: min-content;
        justify-content: space-around;
        flex-direction: row;
      }
      .big{
        width: 100%;
        margin: 0;
        overflow: hidden;
      }
    }
  }
  .product-feature-section{
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    margin: 0;
    width: 100%;
    padding: 10px 0px;
  }
  .product-feature-section .images{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    .big-image{
      margin: auto;
      width: 250px;
      height: max-content;
    }
  }
  .product-feature-section .text{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .images{
      .big{
        width: 100px;
      }
    }
    .feature{
      flex-direction: column;
      align-items: center;
      .icone-box{
        margin-bottom: 10px;
      }
    }
  }
  .prova-social{
    text-align: center;
    .container{
      display: flex;
      flex-wrap: wrap;
      .feedbacke{
        margin: 10px 0px;
        box-shadow: var(--shadow1);
      }
    }
  }
  .rich-text-section{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .faq{
    height: max-content;
  }
  .faq .container{
    padding: 0;
    height: max-content;
    .question{
      width: 100%;
      border: none;
      border-bottom: 10px solid var(--dark-brown);
      text-align: center;
      h3{
        margin-bottom: 10px;
      }
    }
  }
}

/* ===== Tablets ===== */
@media (max-width: 768px) {
  section{
      height: 50vh;
  }
  header{
    width: 100%;
  }
  header .container{
    width: 100%;
    .logo{
        font-size: 14px;
    }
    .navbar li a{
        font-size: 12px;
    }
    .redes-sociais i{
        font-size: 14px;
    }
  }
  .hero-section{
    width: 100%;
  }
  .features-section{
    padding: 20px 0px;
    margin: 0;
  }
  .image-text{
    flex-direction: column;
    height: fit-content;
    .images{
      margin: 0;
      flex-direction:row;
      align-items: center;
      margin: 0;
      .smalls{
        margin: 0;
        width: 100%;
        flex-direction: column;
          justify-content: space-between;
          height: min-content;
          align-items: center;
        }
        .big{
          margin: 0;
          width: 500px;
          .img-box{
            img{

            }
          }
        }
        
      }
  }
  .image-text .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .price{
      text-align: center;
      width: 100%;
    }

  }
  .views-section{
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
    .view{
      margin-bottom: 20px;
    }
  }
  .product-feature-section{

  }
} 

/* ===== Desktop ===== */
@media (min-width: 1024px) {

}

/* ===== Desktop grande ===== */
@media (min-width: 1440px) {

}