/* Base (mobile first) */
@media (max-width: 480px) {
  header{
    width: 100%;
  }
  .image-text{
    overflow: hidden;
    flex-direction: column;
    .images{
      flex-direction: column;
      margin: 0;
    }
  }
  .product-feature-section{
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
  }
  .product-feature-section .images{
    margin: 0;
  }
  .product-feature-section .text{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .feature{
      flex-direction: column;
      align-items: center;
      .icone-box{
        margin-bottom: 10px;
      }
    }
  }
  .prova-social{
    text-align: center;
    .container{
      display: flex;
      flex-wrap: wrap;
      .feedbacke{
        margin: 10px 0px;
        box-shadow: var(--shadow1);
      }
    }
  }
}
/* ===== Tablets ===== */
@media (max-width: 768px) {
  section{
      height: 50vh;
  }
  header{
    width: 100%;
  }
  header .container{
    width: 100%;
    .logo{
        font-size: 14px;
    }
    .navbar li a{
        font-size: 12px;
    }
    .redes-sociais i{
        font-size: 14px;
    }
  }
  header .container .navbar{
    display: none;
  }
  .hero-section{
    width: 100%;
  }
  .features-section{
    padding: 20px 0px;
    margin: 0;
  }
  .image-text{
    flex-direction: column;
    height: fit-content;
    .images{
      margin: 0;
      flex-direction:row;
      align-items: center;
      margin: 0;
      .smalls{
        margin: 0;
        width: 100%;
        flex-direction: column;
          justify-content: space-between;
          height: min-content;
          align-items: center;
        }
        .big{
          margin: 0;
          width: 500px;
          .img-box{
            img{

            }
          }
        }
        
      }
  }
  .image-text .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .price{
      text-align: center;
      width: 100%;
    }

  }
  .views-section{
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
    .view{
      margin-bottom: 20px;
    }
  }
} 

/* ===== Desktop ===== */
@media (min-width: 1024px) {

}

/* ===== Desktop grande ===== */
@media (min-width: 1440px) {

}